/* styles/globals.css */

:root {
  --glow-color: rgba(52, 152, 219);
  --bg-color: #1E1F1F;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  background-image: linear-gradient(to right, #1e1f1f, #202122, #232424, #252727, #28292a, #2b2c2e, #2f3031, #333335, #38383b, #3d3d41, #434247, #48474d);
  background-color: var(--bg-color);
  color: white;
  height: 100vh;
  width: 100vw;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

img {
  width: 100%;
  height: auto;
}

/* globals.css */
.font-class {
  font-family: 'Roboto', sans-serif; /* Utilisez la police Roboto importée via le CDN */
}